body {
	
}

.nav-wrapper  {
    background-color:#1a89bd  !important;
    font-size: 14px;
}

.page-footer {
	background-color:#1a89bd  !important;
	bottom: 0;
	position:fixed;
	width: 100%;
	padding-bottom: 15px;
}

div.main {

}